# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

# 3. Homework - work with your own data

In [17]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your own datasets that you found last semester.

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

In [18]:
df_marketing = pd.read_csv('marketing.csv')

C:\Users\dave\AppData\Local\Temp\ipykernel_9072\3971815645.py:1: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_marketing = pd.read_csv('marketing.csv')

In [19]:
df_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336006 entries, 0 to 336005
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   336006 non-null  object
 1   Year_Birth           336006 non-null  object
 2   Education            336006 non-null  object
 3   Marital_Status       336006 non-null  object
 4   Income               336006 non-null  int64
 5   Kidhome              336006 non-null  int64
 6   Teenhome             336006 non-null  object
 7   Dt_Customer          336006 non-null  object
 8   Recency              336006 non-null  int64
 9   MntWines             336006 non-null  int64
 10  MntFruits            336006 non-null  int64
 11  MntMeatProducts      336006 non-null  int64
 12  MntFishProducts      336006 non-null  int64
 13  MntSweetProducts     336006 non-null  int64
 14  MntGoldProds         336006 non-null  int64
 15  NumDealsPurchases    336006 non-null  int64
 16  NumWebPurchases      336006 non-null  int64
 17  NumCatalogPurchases  336006 non-null  int64
 18  NumStorePurchases    336006 non-null  int64
 19  NumWebVisitsMonth    336006 non-null  int64
 20  AcceptedCmp3         336006 non-null  int64
 21  AcceptedCmp4         336006 non-null  int64
 22  AcceptedCmp5         336006 non-null  int64
 23  AcceptedCmp1         336006 non-null  int64
 24  AcceptedCmp2         336006 non-null  int64
 25  Complain             336006 non-null  int64
 26  Z_CostContact        336006 non-null  int64
 27  Z_Revenue            336006 non-null  int64
 28  Response             336005 non-null  float64
dtypes: float64(1), int64(22), object(6)
memory usage: 74.3+ MB

In [20]:
df_marketing.describe()

,Income,Kidhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,...,336006.000000,336006.000000,336006.000000,336006.00000,336006.000000,336006.000000,336006.000000,336006.000000,336006.000000,336005.000000
mean,81229.765436,0.441641,48.687259,307.981113,26.586865,166.555023,40.894835,28.413701,43.870246,2.371940,...,4.924662,0.498515,0.500804,0.50078,0.500113,0.497929,0.009384,3.000024,10.999970,0.500016
std,126181.552940,0.538449,28.964723,333.526305,39.336844,225.632264,53.085507,40.434937,52.015376,2.079078,...,2.786390,0.499999,0.500000,0.50000,0.500001,0.499996,0.096507,0.013801,0.017251,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000
25%,3153.000000,0.000000,24.000000,38.000000,3.000000,16.000000,8.000000,5.000000,8.000000,1.000000,...,3.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,3.000000,11.000000,0.000000
50%,42860.500000,0.000000,49.000000,176.000000,8.000000,66.000000,18.000000,10.000000,24.000000,2.000000,...,5.000000,0.000000,1.000000,1.00000,1.000000,0.000000,0.000000,3.000000,11.000000,1.000000
75%,89945.000000,1.000000,74.000000,499.000000,32.000000,232.000000,50.000000,34.000000,56.000000,3.000000,...,7.000000,1.000000,1.000000,1.00000,1.000000,1.000000,0.000000,3.000000,11.000000,1.000000
max,666662.000000,2.000000,103.000000,1541.000000,203.000000,1731.000000,278.000000,272.000000,368.000000,17.000000,...,22.000000,1.000000,1.000000,1.00000,1.000000,1.000000,3.000000,11.000000,11.000000,1.000000

In [21]:
#Duplicate Rows
df_marketing.duplicated().sum()

0

In [22]:
#Missing Values
df_marketing.isnull().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               1
dtype: int64

I would not add the missing data.  That column is not important for the analysis I want to do.

In [23]:
#Distinct value in the Education column with the count of each value
df_marketing['Education'].value_counts()

Education
Graduation    168590
PhD            73544
Master         57004
2n Cycle       30015
Basic           6852
Divorced           1
Name: count, dtype: int64

In [24]:
#Remove the row with the Education value Diivorced
df_marketing = df_marketing[df_marketing['Education'] != 'Divorced']

In [26]:
#Distinct value in the Marital_Status column with the count of each value
df_marketing['Marital_Status'].value_counts()

Marital_Status
Married     127596
Together     83899
Single       70251
Divorced     34052
Widow        10025
Absurd        3480
Alone         3358
YOLO          3344
Name: count, dtype: int64

In [30]:
#One Hot Encoding 'Mariral_Status' and 'Education' columns
df_marketing_encoded = pd.get_dummies(df_marketing, columns=['Marital_Status', 'Education'])
#Save the encoded data to a new csv file
df_marketing_encoded.to_csv('marketing_encoded.csv', index=False)

There are no column with inappropriate duplicate values. The data is usable. There are no missing values. There is no class imbalance. There was one row that had an inconsistent value in the Education column. I removed the row with divorce value for education.

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.